* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* mobile */

@media (min-width:768px) {
    .container {
        width: 750px;
    }

}

/* medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start section */
section .images-menu img {
    max-width: 100%;
    width: 550px;
}

/* end section */